// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$logoOrange: #F7860B;
$logoOrangeDark: #b35c00;
$gray: #5D5D5D;
$lightGrey: #F4F4F4;
$borderGrey: #EFEFEF;
$textBlack: #1A1D1F;
$textGray: #7B7B7B;
$lightGreyTransparent: #f4f4f4b8;
$neutralGray: #9A9FA5;
$neutralTextGray: #6F767E;
$notifyDanger: #FF6A55;
$tagOrangeBg: #f4e9dd;
$editorGreyBorder: #e4e5e6;
$inputBorder: #c4c7ca;
$formWhite: #FCFCFC;
$successBg: #EAFAE4;
$successText: #83BF6E;

$status_pending: #ff7da6;
$status_fulfilled: #a576ff;
$status_cancelled: #6f979d;
$status_priority: #4b89ff;
$status_backorder: #fcad20;
$status_on_hold: #23ceac;

$nav-item-icon-background-offset: 4px;
