.package_button_close {
    position: absolute;
    top: -10px;
    left: 110px;
    cursor: pointer;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    background: #fff;
    border: 2px solid #666666;
    color: #666666;
    text-align: center;
    font: 12px Arial, sans-serif;
}

.input-no-border {
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: $font-size-base;
    font-color: $body-color;

    &-packing-weight {
        height: 60px;
        font-size: 30px;
    }
}

.left-top-edge {
    position: absolute;
    z-index: 1;
    left: -1px;
    top: 5px;
}

.unpacked-items-table {
    .pack-item-button {
        display: inline-block;
    }

    .pack-all-items-button,
    .pack-in-quantities-button {
        display: block;
    }

    .unpack-item-button,
    .unpack-all-items-button,
    .unpack-in-quantities-button{
        display: none;
    }
}

.packed-items-table {
    .pack-item-button,
    .pack-all-items-button,
    .pack-in-quantities-button {
        display: none;
    }

    .unpack-item-button {
        display: inline-block;
    }

    .unpack-all-items-button,
    .unpack-in-quantities-button {
        display: block;
    }
}
