$icomoon-font-family: "packiyo" !default;
$icomoon-font-path: "../../fonts/packiyo-font" !default;

$picon-activity-filled: "\eb55";
$picon-activity-light: "\e900";
$picon-add-circled-filled: "\e901";
$picon-add-circled-light: "\e902";
$picon-add-filled: "\e903";
$picon-add-light: "\e904";
$picon-alarm-filled: "\e905";
$picon-alarm-light: "\e906";
$picon-alert-circled-filled: "\e907";
$picon-alert-circled-light: "\e908";
$picon-alert-circled-light-1: "\e909";
$picon-anchor-filled: "\e90a";
$picon-anchor-light: "\e90b";
$picon-android-filled: "\e90c";
$picon-android-light: "\e90d";
$picon-apple-filled: "\e90e";
$picon-apple-light: "\e90f";
$picon-archive-filled: "\e910";
$picon-archive-light: "\e911";
$picon-arrow-backward-filled: "\e912";
$picon-arrow-backward-light: "\e913";
$picon-arrow-down-filled: "\e914";
$picon-arrow-down-light: "\e915";
$picon-arrow-forward-filled: "\e916";
$picon-arrow-forward-light: "\e917";
$picon-arrow-up-down-filled: "\e918";
$picon-arrow-up-down-light: "\e919";
$picon-arrow-up-filled: "\e91a";
$picon-arrow-up-light: "\e91b";
$picon-at-sign-filled: "\e91c";
$picon-at-sign-light: "\e91d";
$picon-attachment-filled: "\e91e";
$picon-attachment-light: "\e91f";
$picon-badge-filled: "\e920";
$picon-badge-light: "\e921";
$picon-bank-filled: "\e922";
$picon-bank-light: "\e923";
$picon-bar-chart-filled: "\e924";
$picon-bar-chart-light: "\e925";
$picon-basketball-filled: "\e926";
$picon-basketball-light: "\e927";
$picon-basket-filled: "\e928";
$picon-basket-light: "\e929";
$picon-battery-charging-filled: "\e92a";
$picon-battery-charging-light: "\e92b";
$picon-battery-filled: "\e92c";
$picon-battery-full-filled: "\e92d";
$picon-battery-full-light: "\e92e";
$picon-battery-half-filled: "\e92f";
$picon-battery-half-light: "\e930";
$picon-battery-light: "\e931";
$picon-battery-low-filled: "\e932";
$picon-battery-low-light: "\e933";
$picon-bluetooth-filled: "\e934";
$picon-bluetooth-light: "\e935";
$picon-bluetooth-off-filled: "\e936";
$picon-bluetooth-off-light: "\e937";
$picon-bold-filled: "\e938";
$picon-bold-light: "\e939";
$picon-book-filled: "\e93a";
$picon-book-light: "\e93b";
$picon-bookmark-filled: "\e93c";
$picon-bookmark-light: "\e93d";
$picon-box-filled: "\e93e";
$picon-box-light: "\e93f";
$picon-briefcase-filled: "\e940";
$picon-briefcase-light: "\e941";
$picon-brush-filled: "\e942";
$picon-brush-light: "\e943";
$picon-bug-filled: "\e944";
$picon-bug-light: "\e945";
$picon-building-filled: "\e946";
$picon-building-light: "\e947";
$picon-bulb-filled: "\e948";
$picon-bulb-light: "\e949";
$picon-burger-filled: "\e94a";
$picon-burger-light: "\e94b";
$picon-bus-filled: "\e94c";
$picon-bus-light: "\e94d";
$picon-cake-filled: "\e94e";
$picon-cake-light: "\e94f";
$picon-calculator-filled: "\e950";
$picon-calculator-light: "\e951";
$picon-calendar-filled: "\e952";
$picon-calendar-light: "\e953";
$picon-calendar-light-1: "\e954";
$picon-camera-filled: "\e955";
$picon-camera-light: "\e956";
$picon-cart-filled: "\e957";
$picon-cart-light: "\e958";
$picon-cast-filled: "\e959";
$picon-cast-light: "\e95a";
$picon-category-filled: "\e95b";
$picon-category-light: "\e95c";
$picon-center-align-filled: "\e95d";
$picon-center-align-light: "\e95e";
$picon-check-all-filled: "\e95f";
$picon-check-all-light: "\e960";
$picon-checkbox-filled: "\e961";
$picon-checkbox-light: "\e962";
$picon-checkbox-unchecked-filled: "\e963";
$picon-checkbox-unchecked-light: "\e964";
$picon-check-circled-filled: "\e965";
$picon-check-circled-light: "\e966";
$picon-check-filled: "\e967";
$picon-check-light: "\e968";
$picon-chevron-backward-filled: "\e969";
$picon-chevron-backward-light: "\e96a";
$picon-chevron-double-backward-filled: "\e96b";
$picon-chevron-double-backward-light: "\e96c";
$picon-chevron-double-down-filled: "\e96d";
$picon-chevron-double-down-light: "\e96e";
$picon-chevron-double-forward-filled: "\e96f";
$picon-chevron-double-forward-light: "\e970";
$picon-chevron-double-up-filled: "\e971";
$picon-chevron-double-up-light: "\e972";
$picon-chevron-down-filled: "\e973";
$picon-chevron-down-light: "\e974";
$picon-chevron-forward-filled: "\e975";
$picon-chevron-forward-light: "\e976";
$picon-chevron-up-filled: "\e977";
$picon-chevron-up-light: "\e978";
$picon-chip-filled: "\e979";
$picon-chip-light: "\e97a";
$picon-chrome-filled: "\e97b";
$picon-chrome-light: "\e97c";
$picon-cycling-filled: "\e97d";
$picon-cycling-light: "\e97e";
$picon-clipboard-filled: "\e97f";
$picon-clipboard-light: "\e980";
$picon-clock-filled: "\e981";
$picon-clock-light: "\e982";
$picon-close-circled-filled: "\e983";
$picon-close-circled-light: "\e984";
$picon-close-filled: "\e985";
$picon-close-light: "\e986";
$picon-cloud-download-filled: "\e987";
$picon-cloud-download-light: "\e988";
$picon-cloud-filled: "\e989";
$picon-cloud-light: "\e98a";
$picon-cloud-off-filled: "\e98b";
$picon-cloud-off-light: "\e98c";
$picon-cloud-upload-filled: "\e98d";
$picon-cloud-upload-light: "\e98e";
$picon-code-filled: "\e98f";
$picon-code-light: "\e990";
$picon-coffee-filled: "\e991";
$picon-coffee-light: "\e992";
$picon-collapse-filled: "\e993";
$picon-collapse-light: "\e994";
$picon-color-palette-filled: "\e995";
$picon-color-palette-light: "\e996";
$picon-command-filled: "\e997";
$picon-command-light: "\e998";
$picon-compass-filled: "\e999";
$picon-compass-light: "\e99a";
$picon-copy-filled: "\e99b";
$picon-copy-light: "\e99c";
$picon-crop-filled: "\e99d";
$picon-crop-light: "\e99e";
$picon-crosshairs-filled: "\e99f";
$picon-crosshairs-light: "\e9a0";
$picon-cursor-filled: "\e9a1";
$picon-cursor-light: "\e9a2";
$picon-dashboard-filled: "\e9a3";
$picon-dashboard-light: "\e9a4";
$picon-database-filled: "\e9a5";
$picon-database-light: "\e9a6";
$picon-design-filled: "\e9a7";
$picon-design-light: "\e9a8";
$picon-diamond-filled: "\e9a9";
$picon-diamond-light: "\e9aa";
$picon-document-filled: "\e9ab";
$picon-document-light: "\e9ac";
$picon-dollar-filled: "\e9ad";
$picon-dollar-light: "\e9ae";
$picon-donut-chart-filled: "\e9af";
$picon-donut-chart-light: "\e9b0";
$picon-download-filled: "\e9b1";
$picon-download-light: "\e9b2";
$picon-drop-filled: "\e9b3";
$picon-drop-light: "\e9b4";
$picon-dumbell-filled: "\e9b5";
$picon-dumbell-light: "\e9b6";
$picon-edit-filled: "\e9b7";
$picon-edit-light: "\e9b8";
$picon-eye-dropper-filled: "\e9b9";
$picon-eye-dropper-light: "\e9ba";
$picon-euro-filled: "\e9bb";
$picon-euro-light: "\e9bc";
$picon-event-add-filled: "\e9bd";
$picon-event-add-light: "\e9be";
$picon-event-scheduled-filled: "\e9bf";
$picon-event-scheduled-light: "\e9c0";
$picon-expand-filled: "\e9c1";
$picon-expand-light: "\e9c2";
$picon-facebook-filled: "\e9c3";
$picon-facebook-light: "\e9c4";
$picon-fast-backward-filled: "\e9c5";
$picon-fast-backward-light: "\e9c6";
$picon-fast-forward-filled: "\e9c7";
$picon-fast-forward-light: "\e9c8";
$picon-figma-filled: "\e9c9";
$picon-figma-light: "\e9ca";
$picon-file-add-filled: "\e9cb";
$picon-file-add-light: "\e9cc";
$picon-file-filled: "\e9cd";
$picon-file-light: "\e9ce";
$picon-files-filled: "\e9cf";
$picon-files-light: "\e9d0";
$picon-film-filled: "\e9d1";
$picon-film-light: "\e9d2";
$picon-filter-filled: "\e9d3";
$picon-filter-light: "\e9d4";
$picon-fire-filled: "\e9d5";
$picon-fire-light: "\e9d6";
$picon-flag-filled: "\e9d7";
$picon-flag-light: "\e9d8";
$picon-flashlight-filled: "\e9d9";
$picon-flashlight-light: "\e9da";
$picon-flight-filled: "\e9db";
$picon-flight-light: "\e9dc";
$picon-folder-add-filled: "\e9dd";
$picon-folder-add-light: "\e9de";
$picon-folder-filled: "\e9df";
$picon-folder-light: "\e9e0";
$picon-frown-filled: "\e9e1";
$picon-frown-light: "\e9e2";
$picon-fuel-filled: "\e9e3";
$picon-fuel-light: "\e9e4";
$picon-gamepad-filled: "\e9e5";
$picon-gamepad-light: "\e9e6";
$picon-gift-filled: "\e9e7";
$picon-gift-light: "\e9e8";
$picon-grid-filled: "\e9e9";
$picon-grid-light: "\e9ea";
$picon-group-filled: "\e9eb";
$picon-group-light: "\e9ec";
$picon-growth-filled: "\e9ed";
$picon-growth-light: "\e9ee";
$picon-hash-filled: "\e9ef";
$picon-hash-light: "\e9f0";
$picon-headphone-filled: "\e9f1";
$picon-headphone-light: "\e9f2";
$picon-heart-filled: "\e9f3";
$picon-heart-light: "\e9f4";
$picon-help-filled: "\e9f5";
$picon-help-light: "\e9f6";
$picon-hide-filled: "\e9f7";
$picon-hide-light: "\e9f8";
$picon-history-filled: "\e9f9";
$picon-history-light: "\e9fa";
$picon-hybrid-view-filled: "\e9fb";
$picon-hybrid-view-light: "\e9fc";
$picon-home-filled: "\e9fd";
$picon-home-light: "\e9fe";
$picon-hourglass-filled: "\e9ff";
$picon-hourglass-light: "\ea00";
$picon-image-filled: "\ea01";
$picon-image-light: "\ea02";
$picon-inbox-filled: "\ea03";
$picon-inbox-light: "\ea04";
$picon-info-filled: "\ea05";
$picon-info-light: "\ea06";
$picon-instagram-filled: "\ea07";
$picon-instagram-light: "\ea08";
$picon-internet-filled: "\ea09";
$picon-internet-light: "\ea0a";
$picon-italics-filled: "\ea0b";
$picon-italics-light: "\ea0c";
$picon-youtube-filled: "\ea0d";
$picon-youtube-light: "\ea0e";
$picon-justify-filled: "\ea0f";
$picon-justify-light: "\ea10";
$picon-keyboard-filled: "\ea11";
$picon-keyboard-light: "\ea12";
$picon-key-filled: "\ea13";
$picon-key-light: "\ea14";
$picon-keypad-filled: "\ea15";
$picon-keypad-light: "\ea16";
$picon-layers-filled: "\ea17";
$picon-layers-light: "\ea18";
$picon-layout-filled: "\ea19";
$picon-layout-light: "\ea1a";
$picon-laptop-filled: "\ea1b";
$picon-laptop-light: "\ea1c";
$picon-laugh-filled: "\ea1d";
$picon-laugh-light: "\ea1e";
$picon-leaderboard-filled: "\ea1f";
$picon-leaderboard-light: "\ea20";
$picon-left-align-filled: "\ea21";
$picon-left-align-light: "\ea22";
$picon-line-chart-filled: "\ea23";
$picon-line-chart-light: "\ea24";
$picon-linkedin-filled: "\ea25";
$picon-linkedin-light: "\ea26";
$picon-link-filled: "\ea27";
$picon-link-light: "\ea28";
$picon-list-filled: "\ea29";
$picon-list-light: "\ea2a";
$picon-live-filled: "\ea2b";
$picon-live-light: "\ea2c";
$picon-loader-filled: "\ea2d";
$picon-loader-light: "\ea2e";
$picon-location-filled: "\ea2f";
$picon-location-light: "\ea30";
$picon-lock-filled: "\ea31";
$picon-lock-light: "\ea32";
$picon-login-filled: "\ea33";
$picon-login-light: "\ea34";
$picon-logout-filled: "\ea35";
$picon-logout-light: "\ea36";
$picon-mail-filled: "\ea37";
$picon-mail-light: "\ea38";
$picon-map-filled: "\ea39";
$picon-map-light: "\ea3a";
$picon-medal-filled: "\ea3b";
$picon-medal-light: "\ea3c";
$picon-meh-filled: "\ea3d";
$picon-meh-light: "\ea3e";
$picon-menu-filled: "\ea3f";
$picon-menu-light: "\ea40";
$picon-message-filled: "\ea41";
$picon-message-light: "\ea42";
$picon-messages-filled: "\ea43";
$picon-messages-light: "\ea44";
$picon-mic-filled: "\ea45";
$picon-mic-light: "\ea46";
$picon-mic-off-filled: "\ea47";
$picon-mic-off-light: "\ea48";
$picon-mission-filled: "\ea49";
$picon-mission-light: "\ea4a";
$picon-mobile-filled: "\ea4b";
$picon-mobile-light: "\ea4c";
$picon-moon-filled: "\ea4d";
$picon-moon-light: "\ea4e";
$picon-more-horizontal-filled: "\ea4f";
$picon-more-horizontal-light: "\ea50";
$picon-more-vertical-filled: "\ea51";
$picon-more-vertical-light: "\ea52";
$picon-mouse-filled: "\ea53";
$picon-mouse-light: "\ea54";
$picon-multiselect-filled: "\ea55";
$picon-multiselect-light: "\ea56";
$picon-music-filled: "\ea57";
$picon-music-light: "\ea58";
$picon-new-filled: "\ea59";
$picon-new-light: "\ea5a";
$picon-next-filled: "\ea5b";
$picon-next-light: "\ea5c";
$picon-note-filled: "\ea5d";
$picon-note-light: "\ea5e";
$picon-notes-filled: "\ea5f";
$picon-notes-light: "\ea60";
$picon-notification-filled: "\ea61";
$picon-notification-light: "\ea62";
$picon-notification-off-filled: "\ea63";
$picon-notification-off-light: "\ea64";
$picon-open-filled: "\ea65";
$picon-open-light: "\ea66";
$picon-paint-bucket-filled: "\ea67";
$picon-paint-bucket-light: "\ea68";
$picon-paint-roller-filled: "\ea69";
$picon-paint-roller-light: "\ea6a";
$picon-payment-filled: "\ea6b";
$picon-payment-light: "\ea6c";
$picon-paragraph-filled: "\ea6d";
$picon-paragraph-light: "\ea6e";
$picon-pause-filled: "\ea6f";
$picon-pause-light: "\ea70";
$picon-pen-filled: "\ea71";
$picon-pen-light: "\ea72";
$picon-percent-filled: "\ea73";
$picon-percent-light: "\ea74";
$picon-person-filled: "\ea75";
$picon-person-light: "\ea76";
$picon-phone-call-incoming-filled: "\ea77";
$picon-phone-call-incoming-light: "\ea78";
$picon-phone-call-outgoing-filled: "\ea79";
$picon-phone-call-outgoing-light: "\ea7a";
$picon-phone-call-rejected-filled: "\ea7b";
$picon-phone-call-rejected-light: "\ea7c";
$picon-phone-filled: "\ea7d";
$picon-phone-light: "\ea7e";
$picon-photos-filled: "\ea7f";
$picon-photos-light: "\ea80";
$picon-pie-chart-filled: "\ea81";
$picon-pie-chart-light: "\ea82";
$picon-pin-filled: "\ea83";
$picon-pin-light: "\ea84";
$picon-pinterest-filled: "\ea85";
$picon-pinterest-light: "\ea86";
$picon-pizza-filled: "\ea87";
$picon-pizza-light: "\ea88";
$picon-play-circled-filled: "\ea89";
$picon-play-circled-light: "\ea8a";
$picon-play-filled: "\ea8b";
$picon-play-light: "\ea8c";
$picon-playlist-filled: "\ea8d";
$picon-playlist-light: "\ea8e";
$picon-power-filled: "\ea8f";
$picon-power-light: "\ea90";
$picon-presentation-filled: "\ea91";
$picon-presentation-light: "\ea92";
$picon-previous-filled: "\ea93";
$picon-previous-light: "\ea94";
$picon-printer-filled: "\ea95";
$picon-printer-light: "\ea96";
$picon-privacy-filled: "\ea97";
$picon-privacy-light: "\ea98";
$picon-profile-circled-filled: "\ea99";
$picon-profile-circled-light: "\ea9a";
$picon-promotion-filled: "\ea9b";
$picon-promotion-light: "\ea9c";
$picon-puzzle-filled: "\ea9d";
$picon-puzzle-light: "\ea9e";
$picon-rain-filled: "\ea9f";
$picon-rain-light: "\eaa0";
$picon-receipt-filled: "\eaa1";
$picon-receipt-light: "\eaa2";
$picon-redo-filled: "\eaa3";
$picon-redo-light: "\eaa4";
$picon-reload-filled: "\eaa5";
$picon-reload-light: "\eaa6";
$picon-remove-filled: "\eaa7";
$picon-remove-light: "\eaa8";
$picon-repeat-filled: "\eaa9";
$picon-repeat-light: "\eaaa";
$picon-right-align-filled: "\eaab";
$picon-right-align-light: "\eaac";
$picon-rocket-filled: "\eaad";
$picon-rocket-light: "\eaae";
$picon-ruler-filled: "\eaaf";
$picon-ruler-light: "\eab0";
$picon-rupee-filled: "\eab1";
$picon-rupee-light: "\eab2";
$picon-sad-filled: "\eab3";
$picon-sad-light: "\eab4";
$picon-safe-filled: "\eab5";
$picon-safe-light: "\eab6";
$picon-save-filled: "\eab7";
$picon-save-light: "\eab8";
$picon-scan-filled: "\eab9";
$picon-scan-light: "\eaba";
$picon-schedule-filled: "\eabb";
$picon-schedule-light: "\eabc";
$picon-scissors-filled: "\eabd";
$picon-scissors-light: "\eabe";
$picon-search-filled: "\eabf";
$picon-search-light: "\eac0";
$picon-send-filled: "\eac1";
$picon-send-light: "\eac2";
$picon-server-filled: "\eac3";
$picon-server-light: "\eac4";
$picon-settings-filled: "\eac5";
$picon-settings-light: "\eac6";
$picon-share-filled: "\eac7";
$picon-share-light: "\eac8";
$picon-shield-check-filled: "\eac9";
$picon-shield-check-light: "\eaca";
$picon-shield-filled: "\eacb";
$picon-shield-light: "\eacc";
$picon-ship-filled: "\eacd";
$picon-ship-light: "\eace";
$picon-shopping-bag-filled: "\eacf";
$picon-shopping-bag-light: "\ead0";
$picon-show-filled: "\ead1";
$picon-show-light: "\ead2";
$picon-shuffle-filled: "\ead3";
$picon-shuffle-light: "\ead4";
$picon-size-filled: "\ead5";
$picon-size-light: "\ead6";
$picon-sync-filled: "\ead7";
$picon-sync-light: "\ead8";
$picon-slack-filled: "\ead9";
$picon-slack-light: "\eada";
$picon-smart-watch-filled: "\eadb";
$picon-smart-watch-light: "\eadc";
$picon-smile-filled: "\eadd";
$picon-smile-light: "\eade";
$picon-snapchat-filled: "\eadf";
$picon-snapchat-light: "\eae0";
$picon-snowflake-filled: "\eae1";
$picon-snowflake-light: "\eae2";
$picon-sort-ascending-filled: "\eae3";
$picon-sort-ascending-light: "\eae4";
$picon-sort-decending-filled: "\eae5";
$picon-sort-decending-light: "\eae6";
$picon-sort-filled: "\eae7";
$picon-sort-light: "\eae8";
$picon-spotify-filled: "\eae9";
$picon-spotify-light: "\eaea";
$picon-spray-filled: "\eaeb";
$picon-spray-light: "\eaec";
$picon-star-filled: "\eaed";
$picon-star-light: "\eaee";
$picon-stop-filled: "\eaef";
$picon-stop-light: "\eaf0";
$picon-store-filled: "\eaf1";
$picon-store-light: "\eaf2";
$picon-sun-filled: "\eaf3";
$picon-sun-light: "\eaf4";
$picon-table-tennis-filled: "\eaf5";
$picon-table-tennis-light: "\eaf6";
$picon-tablet-filled: "\eaf7";
$picon-tablet-light: "\eaf8";
$picon-tag-filled: "\eaf9";
$picon-tag-light: "\eafa";
$picon-target-filled: "\eafb";
$picon-target-light: "\eafc";
$picon-thermometer-filled: "\eafd";
$picon-thermometer-light: "\eafe";
$picon-thumbs-down-filled: "\eaff";
$picon-thumbs-down-light: "\eb00";
$picon-thumbs-up-filled: "\eb01";
$picon-thumbs-up-light: "\eb02";
$picon-ticket-filled: "\eb03";
$picon-ticket-light: "\eb04";
$picon-tile-view-filled: "\eb05";
$picon-tile-view-light: "\eb06";
$picon-timer-filled: "\eb07";
$picon-timer-light: "\eb08";
$picon-toggle-off-filled: "\eb09";
$picon-toggle-off-light: "\eb0a";
$picon-toggle-on-filled: "\eb0b";
$picon-toggle-on-light: "\eb0c";
$picon-tool-filled: "\eb0d";
$picon-tool-light: "\eb0e";
$picon-train-filled: "\eb0f";
$picon-train-light: "\eb10";
$picon-trash-filled: "\eb11";
$picon-trash-light: "\eb12";
$picon-trending-down-filled: "\eb13";
$picon-trending-down-light: "\eb14";
$picon-trending-up-filled: "\eb15";
$picon-trending-up-light: "\eb16";
$picon-trophy-filled: "\eb17";
$picon-trophy-light: "\eb18";
$picon-truck-filled: "\eb19";
$picon-truck-light: "\eb1a";
$picon-tune-filled: "\eb1b";
$picon-tune-light: "\eb1c";
$picon-tv-filled: "\eb1d";
$picon-tv-light: "\eb1e";
$picon-twitch-filled: "\eb1f";
$picon-twitch-light: "\eb20";
$picon-twitter-filled: "\eb21";
$picon-twitter-light: "\eb22";
$picon-umbrella-filled: "\eb23";
$picon-umbrella-light: "\eb24";
$picon-underline-filled: "\eb25";
$picon-underline-light: "\eb26";
$picon-undo-filled: "\eb27";
$picon-undo-light: "\eb28";
$picon-unlock-filled: "\eb29";
$picon-unlock-light: "\eb2a";
$picon-update-filled: "\eb2b";
$picon-update-light: "\eb2c";
$picon-upload-filled: "\eb2d";
$picon-upload-light: "\eb2e";
$picon-utensils-filled: "\eb2f";
$picon-utensils-light: "\eb30";
$picon-vector-filled: "\eb31";
$picon-vector-light: "\eb32";
$picon-video-off-filled: "\eb33";
$picon-video-off-light: "\eb34";
$picon-video-recorder-filled: "\eb35";
$picon-video-recorder-light: "\eb36";
$picon-volume-filled: "\eb37";
$picon-volume-high-filled: "\eb38";
$picon-volume-high-light: "\eb39";
$picon-volume-light: "\eb3a";
$picon-volume-off-filled: "\eb3b";
$picon-volume-off-light: "\eb3c";
$picon-wallet-filled: "\eb3d";
$picon-wallet-light: "\eb3e";
$picon-warning-filled: "\eb3f";
$picon-warning-light: "\eb40";
$picon-watch-filled: "\eb41";
$picon-watch-light: "\eb42";
$picon-web-development-filled: "\eb43";
$picon-web-development-light: "\eb44";
$picon-wifi-filled: "\eb45";
$picon-wifi-light: "\eb46";
$picon-wifi-off-filled: "\eb47";
$picon-wifi-off-light: "\eb48";
$picon-wind-filled: "\eb49";
$picon-wind-light: "\eb4a";
$picon-window-filled: "\eb4b";
$picon-window-light: "\eb4c";
$picon-wine-filled: "\eb4d";
$picon-wine-light: "\eb4e";
$picon-zap-filled: "\eb4f";
$picon-zap-light: "\eb50";
$picon-zoom-in-filled: "\eb51";
$picon-zoom-in-light: "\eb52";
$picon-zoom-out-filled: "\eb53";
$picon-zoom-out-light: "\eb54";

